/*****************************************************************************
  _____  _       _     _____  _                
 |  __ \(_)     | |   |  __ \| |               
 | |  | |_ _ __ | |__ | |__) | |__  _   _  ___ 
 | |  | | | '_ \| '_ \|  ___/| '_ \| | | |/ __|
 | |__| | | | | | | | | |    | | | | |_| | (__ 
 |_____/|_|_| |_|_| |_|_|    |_| |_|\__,_|\___|
                                               
                                               
******************************************************************************/
.header-main .image-container .header-name:before {
  background-color: #6ac045; }

.page-heading h2 {
  color: #6ac045; }

.page-heading .icon {
  color: #6ac045; }

.subheading h3 {
  border-color: #6ac045 !important; }
  .subheading h3:before, .subheading h3:after {
    background-color: #6ac045; }

.banner-section h1 span {
  color: #6ac045; }

.banner-section p .cd-words-wrapper b {
  border-color: #6ac045 !important; }

.about-info ul li span.title {
  border-color: #6ac045 !important; }

.btn-main {
  border-color: #6ac045 !important;
  color: #6ac045; }
  .btn-main:after {
    background-color: #6ac045; }

.services .service-item .icon {
  color: #6ac045 !important; }

.testimonial-item .testimonial-content:before {
  color: #6ac045 !important; }

ul.experience li span.line-left, ul.education li span.line-left {
  background-color: #6ac045 !important; }
  ul.experience li span.line-left:before, ul.experience li span.line-left:after, ul.education li span.line-left:before, ul.education li span.line-left:after {
    border-color: #6ac045 !important; }

ul.experience .content h5, ul.education .content h5 {
  color: #6ac045; }

.progress .progress-bar {
  background-color: #6ac045; }
  .progress .progress-bar:after {
    border-bottom-color: #5aa839; }

.portfolio-section .portfolio-filter ul li.active {
  background-color: #6ac045; }

.portfolio-section .item figure:before {
  background-color: #6ac045; }

.ajax-portfolio-popup .information span.title {
  color: #6ac045; }

.blog-section .blog-item .blog-content .cat {
  color: #6ac045; }

.contact-info .info-item .icon {
  color: #6ac045; }

blockquote {
  border-color: #6ac045 !important; }

.blog-page .blog-heading .cat {
  color: #6ac045; }
