/*****************************************************************************
  _____  _       _     _____  _                
 |  __ \(_)     | |   |  __ \| |               
 | |  | |_ _ __ | |__ | |__) | |__  _   _  ___ 
 | |  | | | '_ \| '_ \|  ___/| '_ \| | | |/ __|
 | |__| | | | | | | | | |    | | | | |_| | (__ 
 |_____/|_|_| |_|_| |_|_|    |_| |_|\__,_|\___|
                                               
                                               
******************************************************************************/
@import url('plugins/bootstrap.css');
@import url('plugins/font-awesome.css');
@import url('plugins/linear-icons.css');
@import url('plugins/animations.css');
@import url('plugins/jquery.animatedheadline.css');
@import url('plugins/owl.carousel.min.css');
@import url('plugins/owl.theme.default.min.css');
@import url('plugins/magnific-popup.css');
@import url('plugins/simplebar.css');
/*@import url('plugins/jquery.mb.YTPlayer.min.css');*/
