body{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
  background-size: cover;
}

.container h1 {
  margin: 0.5em auto;
  color: #fff;
  text-align: center;
}

.chatbox {
  background: rgba(255, 255, 255, 0.05);
  height: 70vh;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  min-height: 200px;
}
.chatbox::-webkit-scrollbar {
  display: none;
}
/* .chatbox__messages:nth-of-type(odd)
  .chatbox__messages__user-message--ind-message {
  float: right;
}

.chatbox__messages:nth-of-type(even)
  .chatbox__messages__user-message--ind-message {
  float: left;
} */
.right{
  float: right;
}
.left{
  float: left;
}
.col-centered{
  float: none;
  margin: 0 auto;
}

.chatbox__messages__user-message {
  width: auto;
}
.chatbox__messages__user-message--ind-message {
  background: rgba(255, 255, 255, 0.2);
  padding: 1em 0;
  height: auto;
  width: 65%;
  border-radius: 5px;
  margin: 2em 1em;
  overflow: auto;
}
.chatbox__messages__user-message--ind-message > p.name {
  color: #fff;
  font-size: 1em;
}
.chatbox__messages__user-message--ind-message > p.message {
  color: #fff;
  font-size: 0.7em;
  margin: 0 2.8em;
}
.chatbox__user-list {
  background: rgba(255, 255, 255, 0.1);
  width: 25%;
  height: 100%;
  float: right;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.chatbox__user-list h1 {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  padding: 1em;
  margin: 0;
  font-weight: 300;
  text-align: center;
}
.chatbox__user,
.chatbox__user--away,
.chatbox__user--busy,
.chatbox__user--active {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  margin: 1em 0.7em;
}
.chatbox__user--active {
  background: rgba(23, 190, 187, 0.8);
}
.chatbox__user--busy {
  background: rgba(252, 100, 113, 0.8);
}
.chatbox__user--away {
  background: rgba(255, 253, 130, 0.8);
}
.chatbox p {
  float: left;
  text-align: left;
  margin: -0.25em 2em;
  font-size: 0.7em;
  font-weight: 300;
  color: #fff;
  width: 200px; 
}
.chatbox say {
  background: #222;
}
.say {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}
.btn-say:hover{
  background: #c5abc8;
}
.say button {
  background:#34bbbd6b;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 100%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}
.btn-say:focus, .btn-say:active{
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}



