body{
  height: 60vh;
  weidth:100wh;
  color:white;
  text-align:center;
  font-family:sans-serif;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15S ease infinite;
}
@keyframes Gradient{
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 50% 100%
  }
  100%{
    background-position: 50% 0%
  }
}
@-moz-keyframes Gradient{
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
h1{
  border:1px solid black;
  width: 300px;
  text-align:center;
  margin:auto;
  padding: 12px 24px;
  background-color: rgba(0,0,0,0.5);
}
a{
  color: #ffffff;
  text-decoration:none; 
}