/*for footer*/
.l-footer {
  background-color: #111;
}
.l-footer * {
  color: #fff;
}
.l-footer .box_footer:first-child {
  margin-top: 100px;
}
.l-footer .l-footer__heading {
  color: #13a9c0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.box_footer {
  margin-bottom: 20px;
  font-size: 16px;
}