  body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  background-size: 400% 400%;
  animation: bganimation 15s infinite;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.container{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.container h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px 10px;
  letter-spacing: 5px;
}

#text{
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 10px 20px;
  font-family: cursive;
  font-weight: 500;
}
.count{
  margin: 50px 0;
}
.countd{
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}
.footer-page {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
.footer-page span {
  color: #f00;
}